{% extends "users/base.html" %}
{% block title %}User List{% endblock %}
{% block content %}
<div class="flex justify-between mb-4">
  <h2 class="text-2xl font-bold">Daftar User</h2>
  <a href="{% url 'logout' %}" class="btn btn-sm btn-outline btn-error">Logout</a>
</div>
<table class="table table-zebra w-full bg-white shadow-md">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a href="{% url 'user_edit' user.pk %}" class="btn btn-sm btn-info">Edit</a>
          <a href="{% url 'user_delete' user.pk %}" class="btn btn-sm btn-error">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
